body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


/* Navigation */
/* ---------- */

.nav-link {
    padding: 5px 25px !important;
    font-size: 18px;
    font-weight: 800;
    color: #1f2a36 !important;
}

.nav-link:hover {
    color: #787f86 !important;
}

/* Home Page - Card and CardDetail Components */
/* ------------------------------------------ */
.o-card {
    margin: 10px;
    width: auto;
    box-shadow: 4px 4px 6px 3px rgba(0,0,0,0.1);
    /* box-shadow: 0px 0px 3px 1px #ccc; */
}

.o-card-image {
  width: 300px;
}

.o-card-detail {
  margin-top: 10px;
  min-height: 100px;
}

.o-card-title {
  font-size: 24px;
  margin: 0px;
}

.o-card-sub-title {
  font-size: 16px;
  margin: 0px;
}


/* Contact Page */
/* ------------ */
.success-msg {
  color: #57A773;
  padding: 10px 15px;
}


.err-msg {
  color: #EE6352;
  padding: 10px 15px;
}
